<div class="related">
  <div class="post-date">other posts</div>
  {% assign listed_posts_urls = page.url | split: ' ' %}
  <ul class="related-posts">
    {% for tag in page.tags %}
      {% for mypost in site.tags[tag] limit:3 %}
        {% if listed_posts_urls contains mypost.url %}
        {% else %}
          <li>
            <h4>
              <a href="{{ site.github.url }}{{ mypost.url }}">
                <!-- {{ mypost.title }} -->
                <div class="thumb-box">
                  {% if mypost.image.teaser %}
                  <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ mypost.image.teaser }}" class="thumb">
                  {% else %}
                  <img src="{{ site.url }}{{ site.baseurl }}/assets/img/words.png" class="thumb">
                  {% endif %}
                  <small>{{ mypost.date | date: "%B %-d, %Y" }}</small>
                </div>
              </a>
            </h4>
          </li>
          {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
